<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<style>
iframe{
height:100px;
width:500px;
}
</style>
</head>
<body>

     
    <table border=2>
      <thead>
         <tr>
             <th>Name</th>
             <th>Songs</th>
            
         </tr>
         </thead>
         
         <tbody>
         <!--Thyme Leaf(for each loop) code to display the data-->
         <tr th:each="plist:${allPlaylists}">
            <td th:text="${plist.name}">  </td>
           <td>
               <ul>
                   <li th:each="song:${plist.songs}">
                      <span th:text="${song.name}"></span>
                      
                        <audio controls>
                            <source th:src="${song.link}" type="audio/mpeg">
                       </audio>
                    </li>
               </ul>
           
           
             </td>
         </tr>
         </tbody>
    </table>

</body>
</html>