<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Registration Page</h1>
<form action="register" method="post">

  <label>UserName :</label>
  <input type="text" name="username" >
  <br>
  
  <label>Email :</label>
  <input type="email" name="email">
  <br>
  
  <label>Password :</label>
  <input type="password" name="password" >
  <br>
  
  
  <label>Gender :</label>
 <label><input type="radio" name="gender" value="male">Male</label> 
 <label><input type="radio" name="gender" value="female">Female</label>
 <label><input type="radio" name="gender" value="other">Other</label>
 <br>
 
 <label>Role :</label>
 <label><input type="radio" name="role" value="admin">Admin</label> 
 <label><input type="radio" name="role" value="customer">Customer</label>
 <br>
 
 <label>Address :</label>
<textarea name="address"></textarea>
 
 <input type="submit" value="Register">
  
</form>
</body>
</html>